---
import ContainerSection from "../../ui/ContainerSection.astro";
import { CONTACT_INFO } from "../../../utils/constants";

import HeroContent from "./HeroContent.astro";
import ActionButtons from "./ActionButtons.astro";
import BenefitsList from "./BenefitsList.astro";
import ProfileCard from "./ProfileCard.astro";
---

<ContainerSection id="inicio" className="sm:py-0">
  <div class="mx-auto w-full h-screen">
    <div class="grid lg:grid-cols-2 gap-8 lg:gap-12 items-center h-full">
      
      <div class="text-center lg:text-left">
        <HeroContent
          nombre={CONTACT_INFO.nombre}
          titulo={CONTACT_INFO.titulo}
          descripcion={CONTACT_INFO.descripcion}
        />
        <ActionButtons
          whatsapp={CONTACT_INFO.whatsapp}
          contactLink="#contacto"
          servicesLink="#servicios"
        />
        <BenefitsList beneficios={CONTACT_INFO.beneficios} />
      </div>

      <div class="flex justify-center items-center">
        <ProfileCard
          imageUrl={CONTACT_INFO.imagen}
          nombre={CONTACT_INFO.nombre}
          titulo={CONTACT_INFO.titulo}
        />
      </div>

    </div>
  </div>
</ContainerSection>